#discountchart #discountDPAM{
	display: inline-block;
	width: 18%;
	margin-left: 10px;
}
#discountchart #discountLAHALLE{
	display: inline-block;
	width: 18%;
	margin-left: 10px;
}
#discountchart #discountORCHESTRA{
	display: inline-block;
	width: 18%;
	margin-left: 10px;
}
#discountchart #discountOKAIDI{
	display: inline-block;
	width: 18%;
	margin-left: 10px;
}
#discountchart #discountKIABI{
	display: inline-block;
	width: 18%;
	margin-left: 10px;
}